<footer class="main-footer">
    <strong>Copyright &copy; 2021 | Follow akun Instagram saya: <a href="https://www.instagram.com/rifkiromdons/">@rifkiromdons</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version API</b> V.1
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->