  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="/images/logo.png" alt="Store GG Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Store GG Top Up</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>
                Beranda
                </p>
            </a>
        </li>

        <li class="nav-header">Master</li>

        <li class="nav-item">
            <a href="/category" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Kategori
              </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/nominal" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Nominal
              </p>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="/voucher" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Voucher
              </p>
            </a>
        </li>

        <li class="nav-header">Metode Pembayaran</li>

        <li class="nav-item">
            <a href="/bank" class="nav-link">
              <i class="nav-icon fas fa-money-check"></i>
              <p>
                Bank
              </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/payment" class="nav-link">
              <i class="nav-icon fas fa-money-check-alt"></i>
              <p>
                Jenis Pembayaran
              </p>
            </a>
        </li>

        <li class="nav-header">Transaksi</li>

        <li class="nav-item">
            <a href="/transaction" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>
                Transaksi
              </p>
            </a>
        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>